{%extends 'base.html' %}
{%load static%}

{%block main%}
 <div class="col-md-12 base-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
    {{page.title}}
    </h3>
    <div id="herb-preface">{{page.content|safe}}</div>
    <div id="herb-content">
         <div class="progress" style="margin: 10px">
              <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="herb-progress">
                  <span>Загрузка</span>
              </div>
         </div>
     </div>
 </div>
{%endblock%}

{%block css-block %}
{{block.super}}
<link href="{% static 'base_static/herbarium.css' %}" rel="stylesheet">
{%endblock%}

{%block map_js%}
 <script type="text/javascript">
    (function startProgress() { //fake animation
            $('#herb-progress').animate({width: "100%"}, 3000);
                      })();

    function finishProgress(){
        $('#herb-progress').css({width: "100%"});
    }

    function fillHerbariumRecords(data){
        finishProgress();
        var herbTemplate =_.template($('#herbarium-template').html());
        if (data['errors'].length != 0){loadingFails(data)}
        else {
              var images = [];
              for (d in data.data){
                        images.push(getImageUrl(data.data[d].images));
                    }
              pairedInfo = _.zip(data.data, images);
              $('#herb-content').html(herbTemplate({'herbitems': pairedInfo}));
              };
    };

    function loadingFails(data){
                 $('#herb-content').html('<div class="alert alert-danger">' +
                                         '<h4>Произошла ошибка в процессе формирования запроса к базе данных Ботанического сада-института ДВО РАН </h4>' +
                                         '</div>')};
    function getImageUrl(s){
    var resUrl="{%static 'images/no-herb.png' %}";
    var strParts;
    if (typeof s === 'string'){
        if (s.length == 0){return resUrl}
        strParts = s.split(',');
        if (strParts.length != 4){return resUrl}
        }
    if (Array.isArray(s)) {
        strParts = s;
      }
    else
        {return resUrl}
    for (u in strParts){
            if (strParts[u].includes('/ts/')){
                resUrl = strParts[u]}
            }
    return resUrl;
    }

    $(document).ready(function () {
      var bgiHerbAPIUrl = "{%url 'herb-data' %}";
      $.ajax({
        url: bgiHerbAPIUrl,
        cache: true,
        dataType: 'json',
        success: fillHerbariumRecords
      });
    });
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script type="text/underscore-template" id="herbarium-template">
       <ul id="herbarium-records">
       <div style="text-align: right"> Загружено гербарных записей: <%= herbitems.length %>. </div>
        <%_.forEach(herbitems, function(herbitem, index) { %>
            <li>
                <a href="http://botsad.ru/hitem/<%= herbitem[0].id %>" target="_blank">
                    <div class="herb-image" style="text-align:center"><img width="70%" src="<%= herbitem[1] %>"></div>
                    <p> <em> <%= herbitem[0].genus %> <%= herbitem[0].species_epithet %> </em>  <%= herbitem[0].species_authorship %> </em></p>
                    <p><strong>ID: </strong> <%= herbitem[0].id %> </p>
                    <p><strong>Собрали: </strong> <% if (herbitem[0].collectors.length > 0) { %> <%= herbitem[0].collectors %> <% }else { %> -- <% } %></p>
                    <% if (herbitem[0].collection_started.length > 0) { %> <p><small><strong>Дата сбора: </strong> <%= herbitem[0].collection_started %> </small></p>  <% } %>
                </a>
            </li>
        <% })%>
        </ul>
</script>
{%endblock%}