{%extends 'base.html' %}
{%load static%}

{%block main%}
 <div class="col-md-12 base-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
    Образцы рода Rhododendron в гербарии Ботанического сада-института ДВО РАН
    </h3>
     <div id="herb-content">
         <div class="progress" style="margin: 10px">
              <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="herb-progress">
                  <span>Загрузка</span>
              </div>
         </div>
     </div>
 </div>
{%endblock%}

{%block css-block %}
{{block.super}}
<link href="{% static 'base_static/herbarium.css' %}" rel="stylesheet">
{%endblock%}

{%block map_js%}
 <script type="text/javascript">
    (function startProgress() { //fake animation
            $('#herb-progress').animate({width: "100%"}, 3000);
                      })();

    function finishProgress(){
        $('#herb-progress').css({width: "100%"});
    }

    function fillHerbariumRecords(data){
        finishProgress();
        var herbTemplate =_.template($('#herbarium-template').html())
        if (data['errors'].length != 0){loadingFails(data)}
        else {
              $('#herb-content').html(herbTemplate({'herbitems': data.data}));
              };
    };

    function loadingFails(data){
                 $('#herb-content').html('<div class="alert alert-danger">' +
                                         '<h4>Произошла ошибка в процессе формирования запроса к базе данных Ботанического сада-института ДВО РАН </h4>' +
                                         '</div>')};

    $(document).ready(function () {
      var bgiHerbAPIUrl = "{%url 'herb-data' %}";
      $.ajax({
        url: bgiHerbAPIUrl,
        cache: true,
        dataType: 'json',
        success: fillHerbariumRecords
      });
    });
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script type="text/underscore-template" id="herbarium-template">
       <ul id="herbarium-records">
        <%_.forEach(herbitems, function(herbitem) { %>
            <li>
                <%= herbitem['id'] %>
                <%= herbitem['genus'] %>
                <%= herbitem['collectors'] %>
            </li>
        <%})%>
        </ul>
</script>
{%endblock%}