{%extends 'base.html' %}
{%load static %}
{%block main%}
 <div class="col-md-12 base-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">{{object.species.name}}</h3>

    <a class="show-info" href="#">Показать инофрмацию о виде</a>
    <div class="hidden" style="display: none;">{{object.species.info|safe}}</div>

     <div class="base-post">
      <h4 style="text-align: center">Информация о сборе</h4>

        {%if object.num %}
         <p>Инвентарный номер образца: {{object.num}}</p>
        {%endif%}

        {%if object.latitude and object.longitude %}
         <h5>Географические координаты: </h5>
         <p>Широта: {{object.latitude}}</p>
         <p>Долгота: {{object.longitude}}</p>
         <hr/>
         <div id="record-map"></div>
         <hr/>


        {%endif%}

         {%if object.region %}
          <p>Регион: {{object.region}}</p>
         {%endif%}

         {%if object.district %}
          <p>Район: {{object.district}}</p>
         {%endif%}

         {%if object.source %}
         <p>Происхождение образца: {{object.source}}</p>
         {%endif%}

         {%if object.place or object.forest_type or object.soil_type%}
         <h5>Характеристика места сбора: </h5>
         {%endif%}

         {%if object.place %}
          <p>Место сбора: {{object.forest_type}}</p>
         {%endif%}

         {%if object.forest_type %}
         <p>Тип леса: {{object.forest_type}}</p>
         {%endif%}

         {%if object.soil_type %}
         <p>Тип почв: {{object.forest_type}}</p>
         {%endif%}

         {%if object.collectors %}
         <p>Собрал(и): {{object.collectors}}</p>
         {%endif%}

         {%if object.collection_date %}
         <p>Дата сбора: {{object.collection_date}}</p>
         {%endif%}

         {%if object.content %}
         <p>Общая информация: </p>
         {{object.content|safe}}
         {%endif%}
     </div>
 </div>
{%endblock%}

{%block map_js%}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
$(document).ready(function(){
$(".show-info").click(function(){
if (!$(".hidden").is(":visible")) {
$(".show-info").html('Скрыть информацию о виде')}
else {$(".show-info").html('Показать информацию о виде</p>')}
$(".hidden").toggle({'duration': 1000});
})})

var myMap = new ymaps.Map('map', {
            center: [55.751574, 37.573856],
            zoom: 9
        }, {
            searchControlProvider: 'yandex#search'
        }),


</script>
{%endblock%}