{%extends 'base.html' %}
{%block main%}
 <div class="col-md-8 base-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">Список записей</h3>
     <div style="text-align: right">Всего: {{total}} записей.</div>

     {%include "paginator.html" %}

     <div class="base-post">
         {%if objects%}
         <ul>
            {%for obj in objects%}
            <li {%if obj.place%} title="Место сбора: {{obj.place}}" {%endif%}>
                {{ obj.pk|add:"1" }}.
                <a href="{%url 'record-info' obj.pk %}" > {{obj.species.name}}</a>
                 {%if obj.district or obj.region%} ({{obj.district}} {{obj.region}}){%endif%}
            </li>
             {%endfor%}
         </ul>

         {%include "paginator.html" %}

         {%else%}
         <div class="alert alert-warning">
            <strong>Список пуст</strong>
         </div>
         {%endif%}
     </div>
 </div>

{%block sidebar %}
{{block.super}}
{%endblock%}

{%endblock%}

{%block map_js%}
{%endblock%}
