
#base-map{
min-height: 400px;
width: 100%;
}


#random-images{
width: 100%;
clear: both;
min-height: 100px;
}

#random-images ul li{
padding: 10px;
float: left;
}


label{
display: block;
font-weight: bold;
margin-top: 3px;
margin-bottom: -2px;
}

.pagination {
text-align: center;
display: block;
margin-bottom: 5px;
}

.base-post ul li {
list-style-type: none;
}

.base-post ul li:hover {
background-color: #d1e5cf;
}



@media only screen and (min-width: 768px) {

.title-image{
background-image: url('/static/images/base.png');
width: 100%;
}

}



.title-smooth {
width: 30%;
float: right;
background-color: rgba(0,0,0,0.35);
}





