

ul#herbarium-records{
list-style-type: none;
}

ul#herbarium-records li{
width: 200px;
min-height: 400px;
float: left;
padding: 10px;
display:table-cell;

}
ul#herbarium-records li:hover{
background-color: #d1e5cf;
border-radius: 5px;
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

ul#herbarium-records li a{
text-decoration: none !important;
color: black !important;
cursor: pointer !important;
}

ul#herbarium-records li p {
padding: 0px;
margin: 2px 0px 2px;
font-size: 1em;
}